@model Voiture

@{
    ViewData["Title"] = "Modifier une voiture";
}

<form asp-action="Edit">
  <input type="hidden" asp-for="Id" />
  <div class="form-group">
    <label asp-for="Name">Nom</label>
    <input class="form-control" asp-for="Name" >
  </div>
  <div class="form-group">
    <label asp-for="NbChevaux">Nombre de chevaux</label>
    <input class="form-control" asp-for="NbChevaux" >
  </div>
  <button type="submit" class="btn btn-primary">Modifier</button>
</form>